<strong>Olá Administrador,</strong>
<p>O usuário {{ user.name }} inseriu uma nova ferramenta:</p>
<br>
<p><strong>Título:&nbsp;</strong>{{ tool.title }}</p>
<p><strong>Link:&nbsp;</strong>{{ tool.link }}</p>
<p><strong>Descrição:&nbsp;</strong>{{ tool.description }}</p>
<p><strong>Tags:&nbsp;</strong>{{ tool.tags }}</p>
